<div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 flex flex-col">
  <%= image_tag(property.image, alt: "Property #{property.title} image", class: 'p-8 rounded-t-lg') %>
  <div class="px-5 pb-5 grow flex flex-col justify-end">
    <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white mb-2"><%= property.title %></h5>
    <span class="bg-gray-100 text-gray-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300 max-w-max"><%= property.property_type.name %></span>
    <div class="flex items-center justify-between mt-2">
      <span class="text-3xl font-bold text-gray-900 dark:text-white">$ <%= property.price.round(0) %></span>
      <%= link_to property_path(property), class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" do %>
        Read more
        <svg aria-hidden="true" class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      <% end %>
    </div>
  </div>
</div>
